/* Estilização global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

/* Estilo para a barra de navegação */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin:  0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }

  nav a:hover{
    color: #00c4cc; /* Altere para a cor desejada */
    border-bottom: 2px solid #00c4cc; /* Adiciona uma linha inferior */
  }
  
  header {
    background-color: #4CAF50; /* Verde ou azul primário */
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  header button{

    background-color: #ffff00;
    width: 50%;
    height: 54px;
    margin-top: 16px;
    color: #000000;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  

  /* Parallax */
  .parallax {
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
    text-align: center;
  }

  main{
    background-color: #34665A;
  }
  
  .parallaxContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

.parallaxContent h2{
  margin-bottom: 32px;
  margin-top: 0;
}
  .parallaxContent h2,
  .parallaxContent p {
    margin: 0;
  }

  .odsOito{
   font-size: 16px;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 20px;
  }
  .odsOito p{
    width: 300px;
    margin-top: 8px;
    justify-content: center;
  
  }
  .odsOito h3{
    font-size: 16px;
  }

  .odsQuatro{
    font-size: 16px;
    margin-top: 100px;
  }
  .odsQuatro p{
    width: 300px;
    margin-top: 8px;
  }
  .odsQuatro h3{
    font-size: 16px;
  }

  .odsDez{
    font-size: 16px;
    margin-top: 100px;
    margin-right: 70px;
  }
  .odsDez p{
    width: 300px;
    margin-top: 8px;
  }
  .odsDez h3{
    font-size: 16px;
  }
  .odsIcons{
    justify-content: space-between;
    align-items: center;
  }

  .odsIcons img{
    margin-bottom: 25px;
  }

  /* Outros estilos */
  section {
    padding: 32px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
  }

  .ods {
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4; /* Fundo cinza claro */
    padding: 32px 0;
  }
  
  .odsIcons {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
  }
  
  .odsIcons img {
    width: 80px;
    height: auto;
  }

 /* FORMULÁRIO */
  #formulario {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
  }

  #formulario h2{
    text-align: center;
    margin-bottom: 32px;
  }

  #formulario button{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* PROJETOS */

.projetos{
  margin:10px;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding: 45px;
  Justify-content: space-around;
  color: #ffffff;

}
  #projetos{
    margin: 20px;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 45px;
    color:#ffffff
  
 }
 
    #projeto1 h2{
      margin:20px;
      width: 80%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 45px;
      background-color: #ffffff; 
    font-size:18px;
    text-decoration:none;
    }
   
    #projeto2 h2{
    margin: 20px;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 45px;
    background-color: #ffffff ; 
    font-size:18px; 
    text-decoration:none;
    }

    #projeto3 h2{
    margin: 20px;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 45px;
    background-color:#ffffff;
    font-size:18px;
    text-decoration:none;
   }

  