/* Estilização global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

/* Estilo para a barra de navegação */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin:  0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }

  nav a:hover{
    color: #00c4cc; /* Altere para a cor desejada */
    border-bottom: 2px solid #00c4cc; /* Adiciona uma linha inferior */
  }
  
  header {
    background-color: #4CAF50; /* Verde ou azul primário */
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  header button{

    background-color: #ffff00;
    width: 50%;
    height: 54px;
    margin-top: 16px;
    color: #000000;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  

  /* Parallax */
  .parallax {
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
    text-align: center;
  }

  main{
    background-color: #34665A;
  }
  
  .parallaxContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }


  .parallaxContent h1,
  .parallaxContent p {
    margin: 0;
  }

  .odsOito{
    font-size: 12px;
    
  }
  
  /* Outros estilos */
  section {
    padding: 32px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
  }

  .ods {
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4; /* Fundo cinza claro */
    padding: 32px 0;
  }
  
  .odsIcons {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .odsIcons img {
    width: 80px;
    height: auto;
  }

 /* FORMULÁRIO */
  #formulario {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px;
  }

  #formulario h2{
    text-align: center;
    margin-bottom: 32px;
  }

  #formulario button{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* PROJETOS */
 .PROJETOS{
  Margin: 32px: auto
  padding: 24px;
  border-radius: 8px;
  text-align:center;
 }
 
 */estilos específicos de cada projeto */

    #Projeto1{
    background-color: ; 
    font-size:18px ;
    }
   
    #Projeto2{
     background-color: ; 
     font-size:18px; 
     text-decoration:none;
    }

    #Projeto3{
    background-color:auto;
    font-size:18px;
   }

  /* Teste de colaboração de código. */
  /* Teste  2 de Git */